<!DOCTYPE html>
<html>
<head>
	<title>Welcome to ShakeShare</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
	<link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
	<div data-role="page" data-theme="b">	
		<div data-role="content">
			<h1 class="aligncenter">Welcome to ShakeShare.</h1>
			<div style=" text-align: center; line-height: 4em;">image placeholder</div>
			<p class="aligncenter">Shakeshare makes sharing easy. No more apps, no more cross-platform hassles.</p>
			<fieldset class="ui-grid-a">
				<div class="ui-block-a"><a href="share/" data-role="button" data-transition="flip">Share</a></div>
				<div class="ui-block-b"><a href="receive/" data-role="button">Receive</a></div>	   
			</fieldset>
		</div>
	</div>
</body>
</html>