<!DOCTYPE html>
<html>
<head>
	<title>Welcome to ShakeShare</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
	<script src="/static/js/jquery.waitforimages.min.js"></script>
	<script src="/static/js/jquery.fitImageToContainer.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.css" />
	<link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
	<div data-role="page" data-theme="a">	
		<div data-role="content">
			<h1 class="aligncenter"><span style="font-weight: 100;">Shake</span>Share</h1>
			<div style="text-align: center; line-height: 4em;"><img style="width:50%;" src="/static/img/shake_hi_flat.png"/></div>
			<p class="aligncenter">Sharing with fun, without apps.</p>
			<fieldset class="ui-grid-a">
				<div class="ui-block-a"><a href="share/" data-role="button" data-transition="flip">Share</a></div>
				<div class="ui-block-b"><a href="receive/" data-role="button" data-transition="flip">Receive</a></div>	   
			</fieldset>
		</div>
	</div>
</body>
</html>