<!DOCTYPE html>
<html>
<head>
	<title>Shakeshare - Share</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
	<script src="/static/js/jquery.waitforimages.min.js"></script>
	<script src="/static/js/jquery.fitImageToContainer.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.css" />
	<link rel="stylesheet" href="/static/css/style.css" />
</head>
<body class="ui-mobile-viewport ui-overlay-a">
<div data-theme="a" style="width:100%; display:block;" class="ui-page ui-body-a ui-page-active" id="result-page">	
	<div data-role="content" class="ui-content">
		<script type="text/javascript">
		</script>
		<h1 class="aligncenter">Feeling Good?</h1>
		<p class="aligncenter"><b>ShakeShare</b> makes sharing easy. No apps, just fun.</p>
		<hr/>
		<p>{{ fileCount }} photos shared with you. Tap thumbnail to save.</p>
		<div id="result"></div>
		<a id="file-upload-wrapper" herf="#">
			{% for fileId in fileIds %}
    		<div class='upload-result pop in'>
    			<div class="loader" style="display: none;"><span class="ui-icon ui-icon-loading"></span></div>
    			<a href="/file?id={{fileId}}" download="/file?id={{fileId}}" rel="external"><img class="share-result" src="/file?id={{ fileId }}"/></a>
    		</div>
			{% endfor %}
		</a>
		<hr/>
		<p class="aligncenter">Then tell your friends to visit <br/><strong>shakeshare.net</strong></p>
		<a id="proceed" href="" data-role="button" data-icon="arrow-r" data-iconpos="right">I also want to share</a>
		
		<script type="text/javascript">
		$(document).delegate("pagecreate", "#result-page", function() {
			console.log("pagecreate triggered");
			$(".share-result").fitImageToContainer({
				fit: true,
				complete: function(element) {console.log("fit performed.");}
			});
		});
		</script>
	</div>
</div>
</body>
</html>
