<!DOCTYPE html>
<html>
<head>
	<title>Shakeshare - Receive</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>	
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
	<script src="/static/js/jquery.ajaxfileupload.js"></script>
	<link rel="stylesheet" href="/static/css/style.css" />
</head>
<body class="ui-mobile-viewport ui-overlay-c">
<div data-theme="c" style="width:100%; display:block;" class="ui-page ui-body-c ui-page-active">	
	<div data-role="content" class="ui-content">
		<h1 class="aligncenter">ShakeShare - Receive</h1>
		<p class="aligncenter">App-free, cross-platform file sharing.</p>
		<hr/>
		<div id="result"><img src="put your image URL here"/></div>
		<form id="main-form" method="post" action="../upload/" enctype="multipart/form-data"  data-ajax="false" name="uploadPhoto">
			<div class="hidden">
				<input id= "file-upload" type="file" name="file">
				<input type="hidden" name="current-session-id" value="{{ session_id }}" />
				<input type="submit" name="submit-form" value="Submit" />
			</div>
		</form>
	</div>
	<!-- animated loader placeholder-->
	<div style="display:none;" class="ui-loader ui-corner-all ui-body-a ui-loader-default"><span class="ui-icon ui-icon-loading"></span><h1>loading</h1></div>
</div>
</body>
</html>
