<!DOCTYPE html>
<html>
<head>
	<title>Shakeshare - Shake</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
	<script src="/static/js/jquery.fitImageToContainer.min.js"></script>
	<link rel="stylesheet" href="/static/css/style.css" />
</head>
<body class="ui-mobile-viewport ui-overlay-a">
<div data-theme="a" style="width:100%; display:block;" class="ui-page ui-body-a ui-page-active">	
	<div data-role="content" class="ui-content">
		<div id="shake-info">
			<h1 id = "lets-shake" class="aligncenter">Ready? Let's Shake!</h1>
			<p id= "lets-shake-subtitle" class="aligncenter">Shake your phone together with your friends!</p>
			<p id= "lets-reshake" class="aligncenter">Shake with your friends again when ready.</p>
		</div>
		<!-- hidden form to submit data, avoid JSON communication -->
		<form id="shake-detect-form" method="post" enctype="multipart/form-data"  data-ajax="false" action="/match">
			<input type="hidden" name="session_id" value = "{{ session_id }}"/>
			<input type="hidden" name="is_uploader" value = "{{ is_uploader }}"/>
			<!-- value to be filled by JS when shake is detected -->
			<input id="shake-time" type="hidden" name="time" value = ""/>
			<!--<input type="submit" style="display:none;" value="PurePost" />-->
		</form>
		<a id="simulate-shake" href="javascript: detectShake(true);" data-role="button">SimulateAJAX</a>
	</div>
	<script>
	
		var timeStamp = new Date().getTime().toString();
		timeStamp = timeStamp.substring(0, timeStamp.length - 3);	

		var alreadyShaked = false;
		
		var timeInterval = 50;
		var mod = 0;
		
		// browser compatibility check
		if (window.DeviceMotionEvent) {
		  	window.addEventListener('devicemotion', deviceMotionHandler, false);
		} else {
			// if not, provide alternative ways
		  	document.getElementById("lets-shake").innerHTML = "Sorry, motion detection is not supported on your device."
		  	$("#lets-shake-subtitle").html("If you still want to shake/receive file, click the button while others are shaking their phones.")
		  	$("#simulate-shake").fadeIn(300);
		}
		
		// shake listener
		function deviceMotionHandler(eventData) {
		  // Grab the acceleration including gravity from the results
		  var acceleration = eventData.accelerationIncludingGravity;
		  // calculate the acceleration data
		  var rawAccelerationx = Math.round(acceleration.x);
		  var rawAccelerationy = Math.round(acceleration.y); 
		  var rawAccelerationz = Math.round(acceleration.z);
		  // detect shake pattern
          mod = Math.round(Math.sqrt(
					  Math.pow(rawAccelerationx,2)+Math.pow(rawAccelerationy,2)+Math.pow(rawAccelerationz,2)
					  ));
		}
		
		function syncTime (shakeTime){
			var localTimeBeforeSend;
			var localTimeSuccess;
			var serverTimeResponse;
			var timeDifference;
			var syncedTime;
			
			$.ajax({
				url: '/synctime', 
				cache: false,
				type: 'GET',
				async: false, // disable ajax due to time sync must be performed first
				//Ajax events
				beforeSend: function() {
					// get local time stamp before send
					localTimeBeforeSend = parseInt((new Date().getTime())/1000);
					console.log ("local beforeSend time - " + localTimeBeforeSend);
				 },
				success: function(data) {
					localTimeSuccess = parseInt((new Date().getTime())/1000);
					console.log ("local received time - " + localTimeSuccess);
					serverTimeResponse = parseInt(data);
					console.log ("server respond time - " + data);
					
					// algrithm
					timeDifference = (localTimeSuccess-localTimeBeforeSend)/2 + serverTimeResponse - localTimeSuccess;
					console.log (timeDifference + " - time difference");
					syncedTime = shakeTime + timeDifference;		
					console.log (syncedTime + " - final synced time");
					
					// cannot return value in ajax call
				  },
				timeout: 10000,
				error: function (xhr, status, message) {
					// handle timeout
					if(status=="timeout") {
        				alert("sync time got timeout");
        				handleError ("timeout");
    				} else {
    					alert(xhr.status + " - sync time xhr");
    					alert(message + " - sync time message");
    				}
					syncedTime = shakeTime; // do not modify time
    			},
				//Options to tell JQuery not to process data or worry about content-type
				cache: false,
				contentType: false,
				processData: false
			});
			console.log (syncedTime + " - returned time");
			return syncedTime;
		}
		
		// check shake, and send to server
		function detectShake (simulateShake){
			if( (mod > 25 && alreadyShaked == false) || simulateShake == true) {
				setAcceptShakeStatus(false);
				console.log ("shake detected. alreadyShaked=" + alreadyShaked);
				$("#lets-shake").html("Working...");
				$("#lets-shake-subtitle").html("");
				
				var shakeTime = parseInt((new Date().getTime())/1000);
				shakeTime = syncTime (shakeTime);
				alert(shakeTime);
				$("#shake-time").val(shakeTime);
				
				var formData = new FormData($('#shake-detect-form')[0]);
				
				$.ajax({
					url: '/match?timestamp=' + timeStamp,  // add timestampe to URL to disable iOS6 cache
					cache: false,
					type: 'POST',
					xhr: function() {  // custom xhr
						myXhr = $.ajaxSettings.xhr();
						if(myXhr.upload){ // check if upload property exists
							//myXhr.upload.addEventListener('progress',progressHandlingFunction, false); // for handling the progress of the upload
						}
						return myXhr;
					},
					//Ajax events
					beforeSend: function() {
					  },
					success: function(data) {
						console.log('shake: sever responded');
						if (data == "match_not_found") {
							$("#lets-shake").html("Oops!");
							$("#lets-shake-subtitle").html("Looks like we can't find anyone shaking with you. Remember to shake together!");
							setAcceptShakeStatus(true);
						} 
						else {
							$("#lets-shake").html("Wooha!");
							$("#lets-shake-subtitle").html("You and your friends are connected. We are working hard to create the photo pool!");
							console.log ("success" + data);
							// go to new URL
							window.location = "/pool?match_id=" + data;
						}
					  },
					timeout: 10000,
					error: function (xhr, status, message) {
						// handle timeout
						if(status=="timeout") {
            				handleError ("timeout");
        				} else {
        					alert(xhr.status + "xhr");
        					alert(message + "message");
        					handleError ("xhr");
        				}
        			},
					// Form data
					data: formData,
					//Options to tell JQuery not to process data or worry about content-type
					cache: false,
					contentType: false,
					processData: false
				});
				
			} 
		}
		
		function handleError (status){
			if (status == "timeout"){
				$("#lets-shake").html("Unfortunately...");
				$("#lets-shake-subtitle").html("Looks like there's a network problem. Maybe check your Internet connection and try again later?");
				setAcceptShakeStatus(true);
				console.log ("timeout detected. alreadyShaked=" + alreadyShaked);
			}
			else if (status == "xhr") {
				$("#lets-shake").html("Ah, that sucks!");
				$("#lets-shake-subtitle").html("Something is wrong. Please try again later!");
				setAcceptShakeStatus(true); // enable reshake
				console.log ("other error detected. alreadyShaked=" + alreadyShaked);
			}
		}
		
		function setAcceptShakeStatus(acceptShake){
			if (acceptShake == true){
				alreadyShaked = false; 
				$("#lets-reshake").fadeIn(500);
				console.log ("make it accept shake. alreadyShaked=" + alreadyShaked);
			}
			else {
				alreadyShaked = true;
				$("#lets-reshake").fadeOut(500);
				console.log ("make it reject shake. alreadyShaked=" + alreadyShaked);
			}
			
		}
		
		
		var interval = self.setInterval('detectShake()', timeInterval); 
		
		</script>
</div>
</body>
</html>

