<!DOCTYPE html>
<html>
<head>
	<title>Shakeshare - Shake</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
	<script src="/static/js/jquery.waitforimages.min.js"></script>
	<script src="/static/js/jquery.fitImageToContainer.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.css" />
	<link rel="stylesheet" href="/static/css/style.css" />
</head>
<body class="ui-mobile-viewport ui-overlay-a">
<div data-theme="a" style="width:100%; display:block;" class="ui-page ui-body-a ui-page-active">	
	<div data-role="content" class="ui-content">
		<div class= "ui-body ui-body-e" id="motion-unsupport">
			<h1>Oops! Motion detection is not supported on your device.</h1>
			<p>If you still want to shake/receive file, click the "Shake!" button while others are shaking their phones. </p>
		</div>
		<div class= "ui-body ui-body-e" id="geo-error">
			<h1>Oops! Where are you?</h1>
			<p>ShakeShare needs to know your location to match with others. We'll retry in a moment..</p>
		</div>
		<div class= "ui-body ui-body-e" id="geo-unsupport">
			<h1>Oops! Location service is not supported/enabled on your device.</h1>
			<p>ShakeShare needs to know your location to match with others. Please turn it on!</p>
		</div>
		<div id="shake-info">
			<h1 id ="lets-shake" class="aligncenter">Initiating...</h1>
			<p id= "lets-shake-subtitle" class="aligncenter"></p>
			<p id= "lets-reshake" class="aligncenter"></p>
		</div>
		{% if is_uploader %}
		<div id="uploader-info">
			<h1 id="uploader-h1">Who do you want to share with?</h1>
			<p id="uploader-subtitle"></p>
			<p id="uploader-subtitle-2"></p>
		</div>
		<form id="uploader-form">
			<legend>Choose your friends:</legend>
			<fieldset id="uploader-form-fieldset" data-role="controlgroup">
			 	<!--to be inserted by ajax polling-->
			</fieldset>
			<input type="hidden" name="session_id" value="{{session_id}}"/>
		</form>
		<a id="uploader-form-submit" href="javascript:void(0);" data-role="button">I'm Ready!</a>	
		{% else %}
		<div id="receiver-info">
			<h1 id="receiver-h1">Your name, please?</h1>
			<p id="receiver-subtitle">Just to make sure you and your friends are in the same party.</p>
			<p id="receiver-subtitle-2"></p>
		</div>
		<form id="receiver-form">
			<label for="name"></label>
			<input type="text" name="name" id="receiver-name" value="" placeholder="e.g. Tom">
			<input type="hidden" name="session_id" value = "{{ session_id }}"/>
		</form>
		<a id="receiver-form-submit" class="ui-disabled" href="javascript:void(0);" data-role="button">I'm Ready!</a>
		{% endif %}
		<!-- hidden form to submit data, avoid JSON communication -->
		<form id="shake-detect-form" method="post" enctype="multipart/form-data"  data-ajax="false" action="/match">
			<input type="hidden" name="session_id" value = "{{ session_id }}"/>
			<!-- value to be filled by JS when shake is detected -->
			<input id="shake-time" type="hidden" name="time" value = ""/>
			<input id="geo-lat" type="hidden" name="latitude" value = ""/>
			<input id="geo-log" type="hidden" name="longitude" value = ""/>
			<input id="geo-accuracy" type="hidden" name="accuracy" value = ""/>
			<!--<input type="submit" style="display:none;" value="PurePost" />-->
		</form>
		<a id="simulate-shake" href="javascript: void(0);" data-role="button">"Shake!"</a>
	</div>
	<script type="text/javascript">
	
		var timeStamp = new Date().getTime().toString();
		timeStamp = timeStamp.substring(0, timeStamp.length - 3);	

		var shakeReady = false;
		var geoReady = false;
		var nameSubmitReady = false;
		var nameSubmitInProgress = false;
		var nameSubmitted = false;
		
		var mod = 0;
		
		var timeInterval = 200;
		var geoTimeInterval = 2000;
		
		var geoLatitude = 0; 
		var geoLongitude = 0;
		var geoAccuracy = 5000;
	
		
		// browser compatibility check
		if (window.DeviceMotionEvent) {
		  	window.addEventListener('devicemotion', deviceMotionHandler, false);
		  	shakeReady = true;
		} else {
			// if not, provide alternative ways
		  	handleError ("motionUnsupported");
		}
		
		// detect geo location first
		detectGeoLocation();
		var geoInterval = self.setInterval('detectGeoLocation()', geoTimeInterval); 
		
		// shake listener
		function deviceMotionHandler(eventData) {
		  // Grab the acceleration including gravity from the results
		  var acceleration = eventData.accelerationIncludingGravity;
		  // calculate the acceleration data
		  var rawAccelerationx = Math.round(acceleration.x);
		  var rawAccelerationy = Math.round(acceleration.y); 
		  var rawAccelerationz = Math.round(acceleration.z);
		  // detect shake pattern
          mod = Math.round(Math.sqrt(
					  Math.pow(rawAccelerationx,2)+Math.pow(rawAccelerationy,2)+Math.pow(rawAccelerationz,2)
					  ));
		}
		  
		// detect geo location
		function detectGeoLocation (){
			console.log ("geolocation called");
			if (navigator.geolocation){
				//console.log ("geolocation supported");
				navigator.geolocation.getCurrentPosition(
					function (position) {
						//console.log ("geolocation succeeded. next step: update global variable");
						updateGeoLocation(position.coords.latitude, position.coords.longitude, position.coords.accuracy)
					},
					function errorCallback(error) {
						//console.log ("geolocation error. next step: handle error");
						handleError ("geoFail");
					},
					{enableHighAccuracy:true, maximumAge:20000, timeout:5000}
				);
    		}
    		else {
    			handleError ("geoUnspoorted");
    		}
		}
		
		// function to update geo location, if accuracy is greater 
		function updateGeoLocation(latitude, longitude, accuracy){	
			//console.log ("geolocation update called");			
			if (accuracy < geoAccuracy){
				geoLatitude = latitude;
				geoLongitude = longitude;
				geoAccuracy = accuracy;
				console.log ("geolocation updated:" + latitude + longitude + " vs " + geoLongitude + accuracy);
			}
			// update form
			$("#geo-lat").val(geoLatitude);
			$("#geo-log").val(geoLongitude);
			$("#geo-accuracy").val(geoAccuracy);
			//console.log($("#geo-lat").val());
			//console.log($("#geo-log").val());
			//console.log($("#geo-accuracy").val());
			// enable shake, one-time display of lets shake message so that it wont overwrite other message
			if (geoReady == false){
				//$("#lets-shake").html("Ready? Let's Shake!");
				//$("#lets-shake-subtitle").html("Shake your phone together with your friends!");
				geoReady = true;
			}			
		}
		
		// function to sync time with server
		function syncTime (shakeTime){
			var localTimeBeforeSend;
			var localTimeSuccess;
			var serverTimeResponse;
			var timeDifference;
			var syncedTime;
			
			$.ajax({
				url: '/synctime', 
				cache: false,
				type: 'GET',
				async: false, // disable ajax due to time sync must be performed first
				//Ajax events
				beforeSend: function() {
					// get local time stamp before send
					localTimeBeforeSend = parseInt((new Date().getTime())/1000);
					console.log ("local beforeSend time - " + localTimeBeforeSend);
				 },
				success: function(data) {
					localTimeSuccess = parseInt((new Date().getTime())/1000);
					console.log ("local received time - " + localTimeSuccess);
					serverTimeResponse = parseInt(data);
					console.log ("server respond time - " + data);
					
					// algrithm
					timeDifference = (localTimeSuccess-localTimeBeforeSend)/2 + serverTimeResponse - localTimeSuccess;
					console.log (timeDifference + " - time difference");
					syncedTime = shakeTime + timeDifference;		
					console.log (syncedTime + " - final synced time");
					
					// cannot return value in ajax call
				  },
				timeout: 10000,
				error: function (xhr, status, message) {
					// handle timeout
					if(status=="timeout") {
        				alert("sync time got timeout");
        				handleError ("timeout");
    				} else {
    					alert(xhr.status + " - sync time xhr");
    					//alert(message + " - sync time message");
    				}
					syncedTime = shakeTime; // do not modify time
    			},
				//Options to tell JQuery not to process data or worry about content-type
				cache: false,
				contentType: false,
				processData: false
			});
			console.log (syncedTime + " - returned time");
			return syncedTime;
		}
		
		{% if is_uploader %}
		function updateReceiverName(){
			if (!nameSubmitted && !nameSubmitInProgress){
				var currentTimeStamp = new Date().getTime().toString();
				// polling ajax to dymaincally update receiver name list
				console.log ("start/restart polling ajax");
				$.ajax({ 
					url: '/getnames?session_id={{session_id}}&timestamp=' + currentTimeStamp,  // add timestampe to URL to disable iOS6 cache
					cache: false,
					type: 'GET',
					success: function(data){
						console.log ("info received from server");
						console.log(data);
						nameSubmitReady = false;
						$("#uploader-form-fieldset").empty();
						$.each(data.available_users, function (index, element){
							var nameItemHTML = "<input type='checkbox' name='receiver_session_id_"+ index +"' id= 'receiver_session_id_"+ index +"' value='"+ element.session_id +"' checked='checked'><label for='receiver_session_id_" + index + "'>"+ element.name + "</label>";
							$("#uploader-form-fieldset").append(nameItemHTML); 
						});
						$("#uploader-form").trigger("create"); //use trigger to make sure jQuery mobile style is applied
						nameSubmitReady = true;
					}, 
					error: function (xhr, status, message) {
						// handle timeout
						if(status=="timeout") {} 
						else {
							console.log(xhr.status + "xhr");
							console.log(message + "message");
							handleError ("xhr");
						}
	        		},
					dataType: "json", 
					complete: updateReceiverName, 
					timeout: 30000 
				});
			}
    	};	
    	
    	function submitReceiverName(){
    		if (nameSubmitReady){
    			nameSubmitInProgress = true;
				var currentTimeStamp = new Date().getTime().toString();
				var formData = $('#uploader-form').serialize();
				console.log ("sending accepted names");
				console.log(formData);
				$.ajax({ 
					url: '/setreceiver?timestamp=' + currentTimeStamp,  // add timestampe to URL to disable iOS6 cache
					cache: false,
					type: 'POST',
					success: function(data){
						$("#uploader-form-sbumit").fadeOut(300);
						nameSubmitted = true;
						nameSubmitInProgress = false;
					}, 
					error: function (xhr, status, message) {
						nameSubmitted = false;
						nameSubmitInProgress = false;
						// handle timeout
						if(status=="timeout") {} 
						else {
							console.log(xhr.status + "xhr");
							console.log(message + "message");
							handleError ("xhr");
						}
						updateReceiverName();
	        		},
					data: formData,
					timeout: 10000 
				});
			}
    	}
    	
    	updateReceiverName();
    	$("#uploader-form-submit").click(function(){
	    	submitReceiverName()
    	});
    	
    	{% endif %}
		
		// check shake, and send formdata to server
		function detectShake (simulateShake){
			if( (mod > 25 && shakeReady == true && geoReady == true) || simulateShake == true) {
				console.log("shake initiated");
				shakeReady = false; // reject shake
				setAcceptShakeUI(false);
				console.log ("shake initiated + shakeReady=" + shakeReady);
				$("#lets-shake").html("Working...");
				$("#lets-shake-subtitle").html("");
				
				var shakeTime = parseInt((new Date().getTime())/1000);
				shakeTime = syncTime (shakeTime);
				//alert(shakeTime);
				$("#shake-time").val(shakeTime);
				
				var formData = new FormData($('#shake-detect-form')[0]);
				
				$.ajax({
					url: '/match?timestamp=' + timeStamp,  // add timestampe to URL to disable iOS6 cache
					cache: false,
					type: 'POST',
					xhr: function() {  // custom xhr
						myXhr = $.ajaxSettings.xhr();
						if(myXhr.upload){ // check if upload property exists
							//myXhr.upload.addEventListener('progress',progressHandlingFunction, false); // for handling the progress of the upload
						}
						return myXhr;
					},
					//Ajax events
					beforeSend: function() {
					  },
					success: function(data) {
						console.log('shake: sever responded');
						if (data == "match_not_found") {
							$("#lets-shake").html("Oops!");
							$("#lets-shake-subtitle").html("Looks like we can't find anyone shaking with you. Remember to shake together!");
							setAcceptShakeUI(true);
						} 
						else {
							$("#lets-shake").html("Wooha!");
							$("#lets-shake-subtitle").html("You and your friends are connected. We are working hard to create the photo pool!");
							console.log ("success" + data);
							// go to new URL
							window.location = "/pool?match_id=" + data;
						}
					  },
					timeout: 10000,
					error: function (xhr, status, message) {
						// handle timeout
						if(status=="timeout") {
            				handleError ("timeout");
        				} else {
        					alert(xhr.status + "xhr");
        					alert(message + "message");
        					handleError ("xhr");
        				}
        			},
					// Form data
					data: formData,
					//Options to tell JQuery not to process data or worry about content-type
					cache: false,
					contentType: false,
					processData: false
				});
				
				
			} 
		}
		
		function sendNameAndProceed (){	
			var formData = new FormData($('#receiver-form')[0]);			
			$.ajax({
				url: '/setname?timestamp=' + timeStamp,  // add timestampe to URL to disable iOS6 cache
				cache: false,
				type: 'POST',
				beforeSend: function() {},
				success: function(data) {
					console.log('name sent!');
					$("#receiver-form-submit").fadeOut(200);
					$("#receiver-info").fadeOut(200);
					$("#receiver-form").fadeOut(200, function(){
						$("#shake-info").fadeIn(200);
					});
					// enable shake after filling security form
					var interval = self.setInterval('detectShake()', timeInterval); 
				  },
				timeout: 70000,
				error: function (xhr, status, message) {
					// handle timeout
					if(status=="timeout") {
        				handleError ("timeout");
    				} else {
    					alert(xhr.status + "xhr");
    					alert(message + "message");
    					handleError ("xhr");
    				}
    			},
				// Form data
				data: formData,
				//Options to tell JQuery not to process data or worry about content-type
				cache: false,
				contentType: false,
				processData: false
			});
				
		}

		
		function handleError (status){
			if (status == "motionUnsupported"){
				$("#motion-unsupport").fadeIn(300);
				$("#simulate-shake").fadeIn(300);
			}
			
			else if (status == "geoUnsupported"){
				$("#geo-unsupport").fadeIn(300);
				//$("#simulate-shake").fadeOut(300);
			}
			
			else if (status == "timeout"){
				$("#lets-shake").html("Unfortunately...");
				$("#lets-shake-subtitle").html("Looks like there's a network problem. Maybe check your Internet connection and try again later?");
				setAcceptShakeUI(true);
				console.log ("timeout detected. shakeReady=" + shakeReady);
			}
			else if (status == "xhr") {
				$("#lets-shake").html("Ah, that sucks!");
				$("#lets-shake-subtitle").html("Something is wrong. Try again?");
				setAcceptShakeUI(true); // enable reshake
				console.log ("other error detected. shakeReady=" + shakeReady);
			}
			else if (status == "geoFail") {
				$("geo-error").fadeIn(300);
				setAcceptShakeUI(false); // enable reshake
				console.log ("geo fail detected. shakeReady=" + shakeReady);
			}
		}
		
		function setAcceptShakeUI(acceptShake){
			if (acceptShake == true){
				shakeReady = true; 
				$("#lets-reshake").fadeIn(500);
			}
			else {
				shakeReady = false;
				$("#lets-reshake").fadeOut(500);
			}
			
		}
		
		$("#uploader-form-submit").click(function(){
			$("#uploader-info").fadeOut(200);
			$("#uploader-form").fadeOut(200,function(){
				$("#shake-info").fadeIn(200);
			});
			// enable shake after filling security form
			var interval = self.setInterval('detectShake()', timeInterval); 
		});
		
		$("#receiver-name").keyup(function(){
			if ($(this).val().length == 0){
				$('#receiver-form-submit').addClass('ui-disabled');
			}
			else {
				$('#receiver-form-submit').removeClass('ui-disabled');
			}
		});
		
		$("#receiver-form-submit").click(function(){
			sendNameAndProceed ();
		});
		
		$("#simulate-shake").click(function(){
			// simulate shake
			detectShake(true);
		});
		</script>
</div>
</body>
</html>

