<!DOCTYPE html>
<html>
<head>
	<title>Shakeshare - Share</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>	
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
	<script src="/static/js/jquery.fitImageToContainer.min.js"></script>
	<link rel="stylesheet" href="/static/css/style.css" />
</head>
<body class="ui-mobile-viewport ui-overlay-c">
<div data-theme="c" style="width:100%; display:block;" class="ui-page ui-body-c ui-page-active">	
	<div data-role="content" class="ui-content">
		<script type="text/javascript">
			var ajaxloader = "<div class='loader'><span class='ui-icon ui-icon-loading'></span></div>"
			fileProcessQueue = 100; // determine if there are still files uploading
			console.log (fileProcessQueue + "initial value");
			
			$(document).ready(function() {
  				$.ajaxSetup({ cache: false });
  				$("#file-upload-wrapper").click(function(event){
					// stop jQuery mobile handles this click
					//alert("wrapper click event triggered");
					event.preventDefault();
					//$("#result").html("wrapper click event triggered");
					$("#file-upload").trigger('click');
					return false;
				});
			});
			
			// handles AJAX file upload
			function handleFiles(files) { //html5 file object
				fileProcessQueue++;
				console.log (fileProcessQueue + "start handle file");
				proceedButtonCheck (false);
				var timeStamp = new Date().getTime(); // bypass iOS 6 Ajax cache, also use as unique ID for img to communicate between server and browser
				var file = files[0]; // currently supports single file only
				var imageType = /image.*/;
				
				// preview image
				var insertContent = "<div class='upload-result pop in' id='img"+ timeStamp + "'>"+ ajaxloader +"</div>";
				$(insertContent).insertBefore(".upload-sign");
				
				var img = document.createElement("img");
				img.classList.add("obj");
				img.file = file;
				$("#img"+ timeStamp).append(img);
						
				var reader = new FileReader();
				reader.onload = (function(aImg) { return function(e) { aImg.src = e.target.result; }; })(img);
				reader.readAsDataURL(file);
				
				//resize image
				$("#img" + timeStamp).fitImageToContainer({
					fit: true
					//complete: function(element) {}
				});
				
				
				var formData = new FormData($('#main-form')[0]); //jQuery object is an array object
				$.ajax({
					url: '../upload/' + timeStamp,  // add timestampe to URL to disable iOS6 cache
					cache: false,
					type: 'POST',
					xhr: function() {  // custom xhr
						myXhr = $.ajaxSettings.xhr();
						if(myXhr.upload){ // check if upload property exists
							//myXhr.upload.addEventListener('progress',progressHandlingFunction, false); // for handling the progress of the upload
						}
						return myXhr;
					},
					//Ajax events
					beforeSend: function() {
						//alert('upload prepared.');
					},
					success: function(data) {
						//alert('upload was performed.');
						$("#img"+ data + " .loader").fadeOut(200);
						console.log(data);
						console.log (fileProcessQueue + "before success");
						fileProcessQueue--;
						console.log (fileProcessQueue + "success");
						proceedButtonCheck (true);
						
					},
					error: function() {
						fileProcessQueue--;
						proceedButtonCheck (true);
						console.log (fileProcessQueue + "error");
					},
					// Form data
					data: formData,
					//Options to tell JQuery not to process data or worry about content-type
					cache: false,
					contentType: false,
					processData: false
				});
			}
			
			// set status of proceed button
			function proceedButtonCheck (enableStatusRequest){
				console.log (fileProcessQueue + "received by function");
				// only if no file is in queue and enable request is sent
				if (fileProcessQueue = 0 && enableStatusRequest== true){
					$("#proceed-to-shake").removeClass('ui-disabled');
				}
			 	else {
			 		// temp disable
			 		$("#proceed-to-shake").removeClass('ui-disabled');
			 	}
			}
			
			
		</script>
		<h1 class="aligncenter">ShakeShare.</h1>
		<p class="aligncenter">App-free, cross-platform file sharing.</p>
		<hr/>
		<p>Add files to share</p>
		<form id="main-form" method="post" action="../upload/" enctype="multipart/form-data"  data-ajax="false" name="uploadPhoto">
			<div id="result"></div>
			<a id="file-upload-wrapper" herf="#">
				<div class="upload-sign"><span>+</span></div>
			</a>
			<div class="hidden">
				<input id= "file-upload" type="file" name="file" onchange="handleFiles(this.files)">
				<input type="hidden" name="current-session-id" value="{{ session_id }}" />
				<input type="submit" name="submit-form" value="Submit" />
			</div>
		</form>
		<hr/>
		<p class="aligncenter">Then tell your friends to visit <br/><strong>shakeshare.net</strong></p>
		<a id="proceed-to-shake" class="ui-disabled" href="/shakeshare/shake?sessionid={{ session_id }}&is_uploader=true" data-role="button" data-icon="arrow-r" data-iconpos="right">Done! What's Next?</a>
	</div>
</div>
</body>
</html>
