<!DOCTYPE html>
<html>
<head>
	<title>Shakeshare - Share</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>	
	<!--<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>-->
	<script src="/static/js/jquery.ajaxfileupload.js"></script>
	<link rel="stylesheet" href="/static/css/style.css" />
</head>
<body class="ui-mobile-viewport ui-overlay-c">
<div data-theme="c" style="width:100%; display:block;" class="ui-page ui-body-c ui-page-active">	
	<div data-role="content" class="ui-content">
		<script type="text/javascript">
			// handles AJAX file upload
			 $(document).ready(function() {
				
				$("#file-upload").change(function() {
					var formData = new FormData($('#main-form')[0]); //jQuery object is an array object
					$.ajax({
						url: '../upload/',  //server script to process data
						type: 'POST',
						xhr: function() {  // custom xhr
							myXhr = $.ajaxSettings.xhr();
							if(myXhr.upload){ // check if upload property exists
								//myXhr.upload.addEventListener('progress',progressHandlingFunction, false); // for handling the progress of the upload
							}
							return myXhr;
						},
						//Ajax events
						//beforeSend: beforeSendHandler,
						success: function(data) {
							$('#result').html(data);
							alert('upload was performed.');
						  },
						error: function(data) {
							$('#result').html(data);
							alert('upload was performed.');
						  },
						// Form data
						data: formData,
						//Options to tell JQuery not to process data or worry about content-type
						cache: false,
						contentType: false,
						processData: false
					});
					
					
					/*$("#result").html("Uploading...");
					$("#file-upload").ajaxfileupload({
					  'action': '../upload/',
					  //'params': {
						//'extra': 'info'
					  //},
					  'onComplete': function(response) {
						console.log('custom handler for file:');
						$("#result").html(JSON.stringify(response));
					  },
					  'onStart': function() {
						console.log('on start');
					  },
					  'onCancel': function() {
						console.log('no file selected');
					  }
					});*/
				});
					
				$("#file-upload-wrapper").click(function(event){
					// stop jQuery mobile handles this click
					//alert("wrapper click event triggered");
					event.preventDefault();
					//$("#result").html("wrapper click event triggered");
					$("#file-upload").trigger('click');
					return false;
				});
				
			});
			</script>
		<h1 class="aligncenter">ShakeShare.</h1>
		<p class="aligncenter">App-free, cross-platform file sharing.</p>
		<hr/>
		<form id="main-form" method="post" action="../upload/" enctype="multipart/form-data"  data-ajax="false" name="uploadPhoto">
			<div id="result"></div>
			<a id="file-upload-wrapper" herf="#" data-role="button">
				<div class="upload-sign ui-btn-corner-all"><span>+</span></div>
			</a>
			<div class="hidden">
				<input id= "file-upload" type="file" name="file">
				<input type="hidden" name="current-session-id" value="{{ session_id }}" />
				<input type="submit" name="submit-form" value="Submit" />
			</div>
		</form>
	</div>
	<!-- animated loader placeholder-->
	<div style="display:none;" class="ui-loader ui-corner-all ui-body-a ui-loader-default"><span class="ui-icon ui-icon-loading"></span><h1>loading</h1></div>
</div>
</body>
</html>
